* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Lucida Sans","Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #1B262C;
}


#container {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#game {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid #283841;
}


input[type ="checkbox"] {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%,-50%);
    height: 35px;
    width: 35px;
    border-radius: 30px;
    -webkit-appearance: none;
    outline: none;
    background: #283841;
    transition: .6s ease;
    cursor: pointer;
    box-shadow: -5px -5px 15px #324650, 5px 5px 15px #141d21;
}
input[type="checkbox"]:checked {
    background: white;
    box-shadow: -5px -5px 15px #f3f2f2, 5px 5px 15px #d9d9d8;
}

.title {
    color: gainsboro;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: "Lucida Sans","Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid #283841;
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: gainsboro;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-container {
    height: 200px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: #283841;
    color: gainsboro;
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}

.spacer-half {
    flex-grow: 0.5;
}

.bg-change {
    background-color: #ababab !important;
}

.color-change {
    color: black !important;
}